{{#> main_layout}}
  {{#*inline "head_scripts"}}
  {{/inline}}

  {{#*inline "body"}}
    <div class="container-fluid">
      <div class="row mt-2">
        <div class="col text-center">
          <a href="/"><img src="/images/logo-sm.png" class="img-fluid"></a>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col text-center">
          <h1>{{title}}</h1>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col text-center">
          <span class="badge badge-{{fileTypeStyle}}">{{fileType}}</span>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col text-center">
          <code>{{fileTitle}}</code>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col text-center">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
              Download
            </button>
            
            <div class="dropdown-menu">
              {{#each downloadLinks}}
              <a class="dropdown-item" href="{{url}}">{{media_description}} (.{{file_extension}})</a>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/inline}}

  {{#*inline "body_scripts"}}
  {{/inline}}
{{/main_layout}}
